name: common_com
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.0
  socket_io_client: ^2.0.0
  uuid: ^4.0.0
  intl: ^0.19.0
  shared_preferences: ^2.2.0
  file_picker: ^6.0.0
  path_provider: ^2.1.0
  mime: ^1.0.4
  open_file: ^3.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
